.ImgBarContainer {
    border: 1px solid #ccc;
    max-width: 10%;
}
.ImgBarItem img {
    max-width: 100%;
    height: auto;
}
.ImgBarItemClicked {
    border: 1px solid lightgreen;
}
.ImgBarItemClicked img {
    max-width: 100%;
    height: auto;
}